@import url('https://fonts.googleapis.com/css?family=Crimson+Text:300,400,400i,600,600i,700,700i|Megrim|Poppins:400,400i,500,500i,600,600i,700,700i');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    text-align: center;
  }

  /* ------------------ Main Page styles ------------------- */
  .topnav {
    overflow: hidden;
    /* background-color: slategray; */
    position: relative;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav #links {
    display: none;
  }

  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 20px;
  }

  .topnav > a > i {
    font-size: 30px;
    color: rgb(102, 101, 101);
    margin-top: 10px;
  }

  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  #links {
    background-color: #3882AE;
    position: relative;
    top: 55px;
  }

  .links-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    position: relative;
    top: -55px;
  }

  .link-box {
    display: inline-block;
    width: 45vw;
    height: 15vh;
  }

  .links-wrapper i {
    font-size: 2rem;
    padding: 7px;
  }

  #logo {
    /* background-color: #3882AE; */
    color: #3882AE;
    font-family: 'Megrim', cursive;
    font-size: 1.5rem;
    padding: 15px;
    float: left;
  }

  .greet-text {
    margin-top: 30px;
    color: #3882AE;
  }

  .greet-text > h1 {
    color: #C4C4C4;
    margin-bottom: 10px;
    font-family: 'Crimson Text', serif;
    line-height: 32px;
    font-weight: 200;
    font-size: 1.7rem;
  }

  .greet-text > h1 > span {
    color: #3882AE;
    font-size: 2.7rem;
    font-family: 'Crimson Text', serif;
  }

  .greet-text > h2 {
    margin-bottom: 10px;
    color: #C4C4C4;
    font-family: 'Crimson Text', serif;
    font-weight: 300;
    font-size: 1.7rem;
  }

  .greet-text > h3 {
    margin-bottom: 10px;
    padding: 10px;
    color: #C4C4C4;
    font-family: 'Crimson Text', serif;
    font-weight: 300;
    font-size: 1.4rem;
  }

  .greet-text > h3 > span {
    font-style: italic;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .greet-text > i {
    font-size: 3rem;
    margin-bottom: 15px;
  }

  .greet-text > p {
    margin: 50px auto 20px auto;
    color: #3882AE;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  }

  .plan-list > div > p {
    line-height: 50px;
    font-family: 'Poppins', sans-serif; 
    margin: 10px 0 10px 0;
    font-size: 0.9rem;
  }

  .plan-list > div > p > a:visited {
    color: #3882AE;
  }

  .plan-list {
    text-align: left;
    list-style-position: inside;
    line-height: 50px;
}

  .plan-list i {
    font-size: 25px;
    float: left;
    background-color: #EDE22D;
    border-radius: 50%;
    border: 2px #3882AE solid;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 43px;
    margin: 0 15px;
  }

  .plan-list > div > img {
  height: 30px;
  float: left;
  margin-left: 20px;
  margin-right: 15px;
  line-height: 0px;
  color: blue;
}

  .greet-text > img {
    height: 90px;
    margin: 10px;
  }

  .greet-text > h5 {
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .questions {
    background-color: rgb(144, 185, 209);
    margin-top: 30px;
    padding: 20px;
  }

  .questions button {
    background-color: #EDE22D;
    /* border: 2px white; */
    border-radius: 10px;
    width: 45vw;
    height: 30px;
    margin-bottom: 20px;
    font-size: 0.8rem;
  }

  .questions button:focus {
    outline: none;
  }

  .questions > p {
    font-size: 1.1rem;
    padding: 10px;
  }


/* ---------- Friends & Family section styles -------------- */

  .friends-wrapper h1 {
    font-family: 'Crimson Text', serif;
    color: #3882AE;
    font-weight: 300;
    margin-top: 10px;
  }

  .friend-box {
    margin: 20px auto;
  }

  .friend-box img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    float: left;
    margin-left: 30px;
  }

  .friend-box p {
    display: inline-block;
    font-size: 0.9rem;
    line-height: 19px;
    color: rgb(136, 136, 136);
    padding: 10px;
  }

  .friend-box p > span{
    color: #3882AE;
    font-weight: 500;
  }

  .friend-box a:hover {
    cursor: pointer;
  }

  .friend-box a:visited {
    color: #3882AE;
  }

  /* ---------------- Leisure section styles ----------------- */

  .leisure-wrapper h1 {
    font-family: 'Crimson Text', serif;
    color: #3882AE;
    font-weight: 300;
    margin-top: 10px;
  }

  .leisure-wrapper h4 {
    margin: 10px;
    font-weight: 300;
    color: rgb(122, 122, 122);
  }

  .leisure-wrapper p {
    color: #3882AE;
    margin-bottom: 30px;
  }

  .leisure-wrapper img {
    width: 100px;
    margin-top: 50px;
  }

  /* ------------------- Community -------------------- */

  .community-wrapper h1 {
    font-family: 'Crimson Text', serif;
    color: #3882AE;
    font-weight: 300;
    margin-top: 10px;
  }

  .community-wrapper h4 {
    margin: 10px;
    font-weight: 300;
    color: #7a7a7a;
  }

  .chat-wrapper {
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
  }

  .chat-wrapper p {
    display: inline;
    font-style: italic;
    color: #3882AE;
  }

  .chat-wrapper span {
    font-family: 'Megrim', cursive;
    font-size: 1.2rem;
    color: #3882AE;
  }

  .chat-list {
    margin: 10px;
    margin-bottom: 20px;
  }

  .chat-list i {
    color: #3882AE;
    margin: 7px 10px;;
    font-size: 25px;
  }

  .chat-list > span > i {
    color: #7a7a7a;
    font-size: 1.2rem;
    margin-right: 15px;
    margin-left: 10px;
  }


  .chat-list > span > p {
    color: #7a7a7a;
    font-size: 1rem;
  }

/*   Health */
.selectable {
  background-color: rgb(189, 216, 231);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px 0px 10px !important;
  width: 95%;
}

.medsList {
  display: none;
  list-style: none;
  margin: 10px 0px;
}

.medsList .medsItem.checked {
  color: lightslategray;
  text-decoration: line-through;
  background-color: lightgray;
}

.medsItem {
  margin: auto;
  width: 95%;
  height: 100px;
  text-align: left;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgb(139, 133, 133);
}

.medsItemText {
  display: inline-block;
  margin-top: 5%;
}

.pillImage {
  float: right;
  height: 70px;
  width: 70px;
}

.appoinmentsList {
  margin: 10px 10px;
  display: none;
  text-align: left;
}

.appListItem {
  border-radius: 5px;
  border: 1px solid;
  border-color: rgb(139, 133, 133);
  padding: 10px;
  margin-bottom: 5px;
}

.contactDoctor {
  padding: 10px;
  width: 95%;
  margin: auto;
  border-radius: 5px;
}

.contactIcon {
  font-size: 36px;
  color: #3882ae;
  background-color: yellow;
  border-radius: 50%;
  border: 2px #3882ae solid;
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 10px 20px;
}

/* Agenda */
.calendar {
  background-color: rgb(144, 185, 209);
  padding: 10px;
  display: inline-flex;
  width: 100%;
  font-size: 20px;
  color: white;
}

.alignleft {
  float: left;
  width: 20%;
  text-align: left;
}
.aligncenter {
  float: left;
  width: 60%;
  text-align: center;
}
.alignright {
  float: left;
  width: 20%;
  text-align: right;
}

.agenda-container {
  margin: 20px;
}

.agenda {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  float: left;
  text-align: left;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.agenda input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.agenda input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.agenda input:checked ~ .checkmark:after {
  display: block;
}

.agenda .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
